@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;

}
.landingBack{
height: 100vh;
background: url("image3.avif");
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
}


header {
position: fixed;
top: 0;
left: 0; 
width: 100%;
padding: 15px;
z-index: 1000;
}

.navbar .logo{
font-size: 2.1rem;
font-weight: 600;
color: #fff;
}


header .navbar{
display: flex;
align-items: center;
max-width: 1200px; 
margin: 0 auto;
justify-content: space-between;
}

.navbar .menu-links {
display: flex;
gap: 40px;
list-style-type: none;
}

.navbar a{
color: #fff;
text-decoration: none;


}

.navbar a:hover {
color: #000000
}

.hero-section .content {
color: #fff;
width: 100%;
max-width: 1200px;
margin: 0 auto;
}

.hero-section {
display: flex;
height: 100vh;
align-items: center;
padding: 0 20px;
}

.hero-section .content h1 {
font-size: 3rem;
max-width: 500px;

}

.hero-section .content p {
font-size: 300;
margin-top: 15px;
max-width: 500px;
}

#menu-btn {
color: #fff;
cursor: pointer;
display: none;
}

#close-btn {
color: #fff;
position: absolute;
right: 20px;
top: 20px;
padding: 0 auto;
cursor: pointer;
display: none;
}

.scrolled {
background-image: linear-gradient(to right, #434343 0%, black 100%);
transition: background-color 200ms linear;
}

/* Second Section Css*/

.section2-headings {
font-family: Arial, Helvetica, sans-serif;
text-align: center;
color: #fffdfd; 
margin-bottom: 30px;
}

.section2-headings > h2 {
font-size: 2.5rem;
padding: 70px 15px 20px;
height: inherit;
}

.section2-headings > p {
font-size: 1.5rem;
padding: 0 15px 5px;
}

.plan-features {
font-family: "Open Sans", sans-serif;
font-size: 1rem;
text-align: left;
line-height: 2;
list-style-type: none;
}

.pricing-container {
display: flex;
gap: 30px;
align-items: flex-start;
height: 500px;
justify-content: center;
color: rgb(0, 0, 0);
}

.plan-title {
text-align: center;
font-size: 1.25rem;
font-weight: 750;
line-height: 1.2;
font-family: Roboto, sans-serif;
padding:0 5px 5px 5px;
}

.plan-price {
text-align: center;
font-size: 2rem;
font-weight: 400;
font-family: Arial, sans-serif !important;
padding:0 5px 5px 5px;
}

.plan-button {
position: relative;
padding: 5px 30px;
margin-top: 30px;
top: 95%;
left: 13%;
border-radius: 20px; 
border: none;
background-color: #181d23; 
color: #fff; 
font-size: 1em; 
transition: background-color 0.3s ease; 
cursor: pointer;
}

.plan-button:hover {
background-color: #6b6d6f;
}

.plan-month {
text-align: center;
font-family: "Open Sans", sans-serif;
font-size: 1rem;
}

.pricing-plan {
padding: 20px;
border-radius: 5%;
min-height: 300px;
position: relative;
width: 200px;
}

.hero-section2 {
background-color: #212529;
}

#first {
background-color: #f1f1f1;
}

#second {
background-color: #feffff;
}

#third {
background-color: #fefffe;
}

.out {
display: flex;
justify-content: center;
}

/*footer Section*/
footer {
background-image: linear-gradient(to right, #333b3e 0%, rgb(32, 49, 55) 100%);
color: #fff;
padding: 40px 0;
}

.footer-container {
max-width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
section2-headings
.footer-section {
flex-basis: 25%;
padding: 0 20px;
}

.footer-section h2 {
font-size: 2rem;
margin-bottom: 20px;
}

.footer-section ul {
list-style-type: none;
padding: 0;
}

.footer-section ul li {
margin-bottom: 10px;
}

.footer-section ul li a {
color: #fff;
text-decoration: none;
}

.footer-section ul li a:hover {
color: #ccc;
}

.copyright {
text-align: center;
margin-top: 40px;
font-size: 0.9rem;
}

.copyright p {
margin-bottom: 5px;
}


/* Responsive CSS for breakpoint 850px*/

@media screen and (max-width: 850px){
    
.show-menu::before{
content: "";
position: fixed;
left: 0;
top: 0;
width: 100%;
height: 100%;
backdrop-filter: blur(5px);
}

#menu-btn, #close-btn{
display: block;
}

.navbar .menu-links {
position: fixed;
left: -260px;
top: 0;
width: 260px;
height: 100vh;
flex-direction: column;
background-image: linear-gradient(to right, #434343 0%, black 100%);
padding: 70px 40px 0;

}

.show-menu .navbar .menu-links{
left: 0;
transition: left 0.5s ease;
}
.navbar a{
color: #ffffff;

}

.hero-section .content {
text-align: center; /* Centering the text */
}

.hero-section .content :is(h1,p){
max-width: 100%;
}

.hero-section .content h1{
font-size: 2.3rem;
line-height: 60px;
}

/*Section 2*/
.pricing-container {
flex-direction: column;
height: 100%;/*By setting height elements are not on each other*/
align-items: center;
}

#third{
margin-bottom: 30px;
}


}