*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.card{
    max-width: 470px;
    background-color: rgba(57, 49, 49, 0); /* Transparent white background */
    backdrop-filter: blur(50px); /* Blur effect */
    border: 1px solid rgba(255, 255, 255, 0.232); 
    color: #fff;
    margin:50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: inset 0 0 12px 12px rgb(63, 59, 59), inset 0 0 3px 2px white;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 20px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 25px;
    margin-top: -5px;
}

.weather{
    display: none;
}

.error{
    display: none;
}
.error img{
    width: 400px;
    padding: 10px;
}
.error h1{
    font-size: 30px;
    padding: 10px;
    margin-bottom: 10px;
}

.temp span{
    font-size: 24px;
    position: absolute;
}


.smile img{
    width: 300px;
    
}

.smile h1{
    font-size: 40px;
    display: inline-block;
    padding:  0 20px 0 ;
    margin-bottom: 50px;
}

.wave img{
    display: inline-block;
    width: 100px;
    margin-bottom: -30px; 
}

.wave {

    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
}
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
}
  
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
} 